################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Tp_final/.vs/Tp_final
/Tp_final/x64/Debug
